extends layout

block content
  h1 Enter company name
  form(method="POST")
    input(type="text" name="name" placeholder="Enter company name" required=true)
    br
    input(type="submit" name="Sign Up")
