extends layout2

block content
  #wrapper
    // Sidebar
    #sidebar-wrapper
      ul.sidebar-nav
        li.sidebar-brand
          a(href='#') #{tests.name}
        li
          a(href='#' id="team") Team
        li
          a(href='#' id="questions") Questions
        li
          a(href='#' id="candidates") All Candidates
        li
          a(href='#' id="completed") Completed tests
        li
          a(href='#' id="accepted") Accepted
    #contents
