extends ../layout2

block content
  h3 Accepted candidates
  table.table.table-striped
    thead
      tr
        th First Name
        th Last Name
    tbody
      each candidates in candidate
        tr
          td #{candidates.firstname}
          td #{candidates.lastname}
