extends ../layout2

block content
  h3 Add team member details below
  form(method="POST" id="addTeamMember" action="")
    input(type="text" name="email" data-team-id="#{tests._id}" id="teamEmail" placeholder="Email" required="true")
    br
    input(type="Submit" value="Add Member")
