extends ../layout2

block content
  h3 All candidates
  table.table.table-striped
    thead
      tr
        th First Name
        th Last Name
    tbody
      each candidates, index in candidate
        td #{candidates.firstname}
        td #{candidates.lastname}
