extends ../layout2

block content
  h3 Enter the candidates email address below
  form(method="POST")
    input(type="text" name="email" placeholder="email-id" required="true")
    br
    inpput(type="Submit" value="Send invite")
