extends ../layout

block content
  h2 Enter a new Test
  form(method="POST")
    input(type=text name="name" placeholder="Enter your test name" required=true)
    br
    input(type="submit" name="Create Test")
