extends layout

block content
  h3 Schedule your interview
  form(method="POST")
    input(type="text" name="name" placeholder="Name of interview")
    br
    input(type="text" name="type" placeholder="Type of interview")
    br
    input(type="Submit" value="Submit")
